
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');

@media screen and (max-width: 569px) {
  body {
    padding: 20px;
  }

  .form-label-data {
    font-size: 16px;
    white-space: nowrap;
  }

  .form-line-column-right-three {

    position: absolute;

    top: 20px;
    right: 0;
    width: 50%;

  }

  .form-container {
    max-width: 450px;
  }

  .competencias {
    grid-template-columns: repeat(2, 2fr);
    gap: 10px;
  }

  .form-dropdown {
    width: 50%;
  }

  #input_3 {

    margin-right: 20px;
  }
}

.form-sub-label {
  margin-right: 0;
}


.tooltip {
  position: relative;
  background: #78C55F;
  padding: 5px 12px;
  margin: 5px;
  top: 20px;
  margin-left: 290px;
  font-size: 15px;
  border-radius: 100%;
  color: #FFF;
}

.tooltip:before,
.tooltip:after {
  position: absolute;
  content: '';
  opacity: 0;
  transition: all 0.4s ease;
}

.tooltip:before {
  border-width: 10px 8px 0 8px;
  border-style: solid;
  border-color: #78C55F transparent transparent transparent;
  top: -15px;
   transform: translateY(20px);
}

.tooltip:after {
  content: attr(data-tooltip);
  background: #78C55F;
  width: 200px;
  height: 70px;
  font-size: 13px;
  font-weight: 300;
  top: -75px;
  left: -10px;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 1px;
  transform: translateY(20px);
}

.tooltip:hover::before,
.tooltip:hover::after {
  opacity: 1;
  transform: translateY(-2px);
}

@keyframes shake {
  0% { 
    transform: rotate(2deg);
  }
  50% {
   transform: rotate(-3deg);
  }
  70% {
    transform: rotate(3deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

#anim:hover {
  animation: shake 500ms ease-in-out forwards;
}

.form-page {
  display: none;
}

.form-page.active {
  display: block;
}


p {
  margin-top: 0px;
  margin-top: 0px;
  margin-left: 20px;
  white-space: nowrap;
}

body {
  background-image: url('../Imagens/bgBody8.png');
  background-size: cover;
  /* Ajusta o tamanho da imagem para cobrir todo o body */
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* Fixa a imagem de fundo enquanto rola o conteúdo */
  background-position: center center;
  /* Centraliza a imagem de fundo */
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #E1EBEE;
  position: relative;
  color: #040406;
}

.align-top {
  position: absolute;
  top: 0;
  right: 0;
}

/* competencias */
label {
  display: block;
  text-align: center;
}

.form-check {
  color: #040406;
  text-align: center;
  font-size: 14px;
}

.competencias {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 10px;
}


.form-container {
  position: relative;
  border: 5px solid #5dbb63;
  border-radius: 5px;
  padding: 5px;
  max-width: 900px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #FFF;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);

}


#input_8,
#input_7,
#input_6,
#input_5,
#input_departament,
#input_2,
#input_3,
#input_4 {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #040406;
  border-radius: 4px;
}
#input_2:focus,
#input_3:focus,
#input_4:focus {
  outline: none;
  box-shadow: 0 0 4px #040406;
}
#input_departament,
#input_2 option,
#input_3 option,
#input_4 option {
  font-size: 16px;
  color: #040406;
}

#input_2 option:hover,
#input_3 option:hover,
#input_4 option:hover {
  background-color: #040406;
}

/* rating questions */
.rating-item-group {
  display: flex;
  align-items: flex-start;
  margin-left: 80px;
}


.rating-item {
  margin: 8px;
}

.rating-item-title {
  margin-right: 5px;
  white-space: nowrap;
}

.form-label,
.form-label-top,
.form-label-auto {
  font-size: 20px;
  font-family: sans-serif;
  margin: 0px 0px 14px 2px;
  text-align: center;
  color: #040406;
}



.submit {
  width: 150px;
  height: 40px;
  border-radius: 18px;
  background-color: #20c997;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  position: absolute;
  right: 10px;
  top: 35px;
}

.submit:hover {
  background-color: #fff;
  border: solid 2px #20c997;
  transition: all .1s ease-in-out;
  color: #202F58;
  font-size: 18px;
  font-weight: 300;
}
#prev-button:hover {
  background-color: #fff;
  border: solid 2px #20c997;
  transition: all .1s ease-in-out;
  color: #202F58;
  font-size: 18px;
  font-weight: 300;
}
#next-button:hover {
  background-color: #fff;
  border: solid 2px #20c997;
  transition: all .1s ease-in-out;
  color: #202F58;
  font-size: 18px;
  font-weight: 300;
}

#prev-button {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 150px;
  height: 40px;
  border-radius: 18px;
  background-color: #20c997;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all .1s ease-in-out;
  border: solid 1px #fff;
}
#next-button {
  width: 150px;
  height: 40px;
  border-radius: 18px;
  background-color: #20c997;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  position: absolute;
  right: 10px;
  bottom: 5px;

}

.label-questions {
  white-space: nowrap;
}

.checkbox-wrapper-18 .round {
  position: relative;
}

.checkbox-wrapper-18 .round label .checkbox-text {
  margin-left: 30px;
  top: 50px;
  white-space: nowrap;
}

.checkbox-wrapper-18 .round label {
  display: flex;
  align-items: end;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  width: 28px;
  margin-left: 30px;
  margin: 5px;

}

.checkbox-wrapper-18 .round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 8px;
  opacity: 0;
  position: absolute;
  top: 9px;
  transform: rotate(-45deg);
  width: 12px;
  margin-left: 30px;
  
}

.checkbox-wrapper-18 .round input[type="checkbox"] {
  visibility: hidden;
  display: none;
  opacity: 0;
  margin-left: 30px;
}

.checkbox-wrapper-18 .round input[type="checkbox"]:checked+label {
  background-color: #66bb6a;
  border-color: #66bb6a;
  margin-left: 30px;
}

.checkbox-wrapper-18 .round input[type="checkbox"]:checked+label:after {
  opacity: 1;
  margin-left: 30px;
}

.check {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate3d(-4px, 50px, 0);
  opacity: 0;
}

/* Estilo base para a checkbox */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #040406;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

/* Estilo da checkbox quando marcada */
input[type="checkbox"]:checked {
  background-color: #66bb6a;
  border-color: #040406;
}

/* Estilo do rótulo da checkbox */
.form-check-label {
  margin-left: 5px;
}

/* Estilo do contêiner da checkbox */
.form-check {
  margin-bottom: 10px;
}


.loader.active {
  animation: loading 2s ease-in-out;
  animation-fill-mode: forwards;
}

.check.active {
  opacity: 1;
  transform: translate3d(-4px, 4px, 0);
  transition: all .5s cubic-bezier(.49, 1.74, .38, 1.74);
  transition-delay: .2s;
}

@keyframes loading {
  30% {
    opacity: 1;
  }

  85% {
    opacity: 1;
    transform: rotate(1080deg);
    border-color: #040406;
  }

  100% {
    opacity: 1;
    transform: rotate(1080deg);
    border-color: #040406;
  }
}

.form-line {
  flex-basis: 50%;
  box-sizing: border-box;
}

.form-line-container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}

.form-line-column {

  position: relative;
  width: 100%;

}

.form-line-column-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

.form-line-column-right-two {
  position: absolute;
  top: 143px;
  right: 0;
  width: 50%;
}

.form-line-column-right-uf {
  position: absolute;
  top: 149px;
  right: 0;
  width: 50%;
}

.form-line-column-right-permuta {
  position: absolute;
  top: 250px;
  right: 0;
  width: 50%;
}

.form-line-column-right-three {
  position: absolute;
  top: 275px;
  right: 0;
  width: 50%;
}

.form-line-column-right-four {
  position: absolute;
  top: 400px;
  right: 0;
  width: 50%;
}

.form-line-column-right-five {
  position: absolute;
  top: 525px;
  right: 0;
  width: 50%;
}

.form-line-column-right-six {
  position: absolute;
  top: 650px;
  right: 0;
  width: 50%;
}
.form-line-column-right-seven {
  position: absolute;
  top: 775px;
  right: 0;
  width: 50%;

}
.form-line-column-right-eight {
  position: absolute;
  top: 900px;
  right: 0;
  width: 50%;

}
.form-label-config {
  margin-bottom: 40px;
  margin-top: 40px;
}

.form-label {
  display: block;
  font-weight: 600;
  color: #040406;
  font-size: 20px;
}


.form-label-habilities {
  display: block;
  font-weight: 600;
  color: #040406;
  font-size: 20px;
  margin-top: 20px;
 
}

.form-sub-label-habilities {
 
  font-size: 0.75em;
  margin-top: 5px;
  display: block;
  
}

.form-textbox {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #040406;
  border-radius: 4px;
  box-shadow: none;
}

.form-textbox:hover {
  width: 100%;
  padding: 5px;
  font-size: 14px;
  border: 1px solid #040406;
  border-radius: 4px;
  box-shadow: none;
}


.form-input-wide {
  width: 100%;
}



.form-radio {
  display: inline-block;
}

.form-scale-table {
  white-space: nowrap;
}

.rating-item input[type="radio"]+label {
  background-color: #FFF;
  color: #040406;
}

.rating-item input[type="radio"]:checked+label {
  background-color: #66bb6a;
  /* #4C516D , #004F98 , #2D5DA1 , #00356B */
  color: #040406;
}